@mixin text($color) {
  font-size: 16px;
  color: $color;
  font-family: "Lato";
}

@mixin button($width, $background, $color) {
  width: $width;
  height: 35px;
  background: $background;
  color: $color;
  border-radius: 7.5px;
  border: none;
  transition: 0.35s;
  margin-left: 7.5px;
  cursor: pointer;
  &:hover {
    background: $color;
    color: $background;
  }
}

@mixin flex(
  $justify-content: center,
  $align-items: center,
  $flex-direction: row
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin done($border-left, $transition: 0.35s) {
  border-left: $border-left;
  transition: $transition;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @include flex;
  min-height: 100vh;
  width: 100vw;
}

.menu {
  width: 900px;
  height: 900px;
}

.header {
  @include flex(flex-start, flex-start, column);
  width: 100%;
  height: 20%;
}

.navigation {
  @include flex(space-between);
  @include text(darkred);
  width: 100%;
  height: 50%;
  div {
    padding: 0 15px 0 15px;
  }
}

.input {
  @include text(darkblue);
  width: 400px;
  height: 25px;
  border: none;
  border-bottom: 0.5px solid lightblue;
  outline: none;
}

.changeInput {
  @extend .input;
  width: 100px;
}

.content {
  @include flex(space-between, center);
  @include text(darkblue);
  height: 60px;
  border: 1px solid gray;
  padding-left: 15px;
  text-align: center;
  border-collapse: collapse;
}

.buttons {
  @include flex;
}

.createButton {
  @include button(100px, lightskyblue, green);
}
.editButton {
  @include button(75px, darkgray, black);
}
.deleteButton {
  @include button(75px, red, whitesmoke);
  margin-right: 15px;
}

.statusButton {
  @include button(75px, navy, magenta);
}

.notDone {
  @include done(10px solid darkred);
}
.done {
  @include done(10px solid darkgreen);
}
